{% extends 'base.html' %}

{% block title %}<title>Covid</title>{% endblock %}
{% block content %}

<div class="clearfix">
    <a class="btn btn-secondary left" href="{% url 'todo:calendar' %}"> Back To Calendar </a>
  </div>



<div class="card covid-div">
  <div class="card-body">
    <h3 class="card-title">In {{country_name }}</h>
    <h1 class="card-subtitle mb-2">{{ confirmed_cases_till_now }} cases</h1>
    <p class="card-text">From {{ two_days_before_yesterday }} to {{ day_before_yesterday }}</p>
 
  </div>
</div>


{% endblock %}