{% extends 'base.html' %}

{% block title %}
<title>Event</title>
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-secondary left" href="{% url 'todo:calendar' %}"> Back To Calendar </a>
</div>

<div class="form-div">
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<form method="post">
  {% csrf_token %}

  <div class="row">
    <div class="col">
      {{form.as_p}}
      <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
  </div>
</form>
</div>
{% endblock %}